*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    flex-direction: column;

}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
   
    max-width: 400px;
    display: flex;
    
    
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
  
form{
    display: flex;
    flex-direction: column;
}
  
label{
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
  
input{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  
button{
    padding: 10px;
    background-color:#FFFF00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
}
.botones{
    display:flex;
    gap: 30px;
}
#name , #correo,#direccion,#button_img{
    background-color: #E8F0FD;
}
#perfil{
    background-color: red;
}

#imagen_datos{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
button img{
    width: 30px;
    height: 30px;
    gap: 30px;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
/* .formulario img{
    width:200px;
    height:200px;
} */

.informacion img{
    background-color: red;
}